/*
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

	header.major {
		margin-bottom: 4em;
	}

		header.major h2 {
			font-size: 2.5em;
		}

		header.major p {
			font-size: 1.3em;
		}

/* Feature */

	.feature-grid .feature {
		margin-bottom: 2em;
	}

/* Banner */

	#banner {
		padding: 14em 0 11em 0;
	}

		#banner h2 {
			font-size: 2.5em;
		}

/* Wrapper */

	.wrapper.style3 header.major {
		margin-bottom: 2em;
	}


/*Custom*/
.chart .percent{
	margin-top: 10px; /*Used to center percentage*/
	font-size: 225%;

}

.chart .skill{

	font-size: 8pt;
}

.chart li {
    display: inline-block;
    height: 425px;
    /*margin: 0 1.8% 0 0;*/  /*Spacing between bars*/
    width: 7.9%;
    padding-left: 0;
}

/*Space between bar sections*/
 .chart .last_skill {

  	margin: 0 5% 0 0;
}

.chart .xlabel {
    margin-right: 5.4%;
    width: 24.5%;
  
 }

  .chart .xlabel_last{
	
	margin-right: 0px;
}





