/*
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

	header.major {
		margin-bottom: 2em;
	}

/* Image */

	.image.captioned {
		margin-bottom: 2em;
	}

		.image.captioned h3 {
			padding: 1em;
		}

/* Feature */

	.feature-grid .feature {
		margin-bottom: 1em;
	}

/* Banner */

	#banner {
		padding: 6em 2em 6em 2em;
	}

		#banner br {
			line-height: 1.0;
		}

		#banner h2 {
			font-size: 2.25em;
		}

		#banner p {
			font-size: 1.25em;
		}

	#typed-box-mobile{
		display: inline-block;
	}

	#typed-box{
		display: none;
	}

/* Main */

	#main {
		padding-top: 2em;
	}

/* Wrapper */

	.wrapper {
		padding: 3em 0 1em 0;
	}

/* Footer */

	#footer {
		padding: 3em 0 2em 0;
	}

		#footer .icons {
			font-size: 1em;
		}

/*Scripting Skills*/
.chart .c_skill{
  height: 85%;
  width: 100%;

}

.chart .py_skill{
  height: 85%;
  width: 100%;

}

.chart .matlab_skill{
  height: 85%;
  width: 100%;

}

/*Web Development*/
.chart .html_skill{
  height: 85%;
  width: 100%;

}

.chart .js_skill{
  height: 85%;
  width: 100%;

}

.chart .responsive_skill{
  height: 85%;
  width: 100%;

}

/*Hardware Design*/
.chart .verilog_skill{
  height: 85%;
  width: 100%;

}

.chart .vhdl_skill{
  height: 85%;
  width: 100%;

}

.chart .cadence_skill{
  height: 85%;
  width: 100%;

}